/* components/profile/profile.component.scss */
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .profile-avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .mat-form-field {
    width: 100%;
  }