<!-- components/chats/chats.component.html -->
<div class="flex h-full bg-white dark:bg-gray-900">
    <mat-drawer-container class="w-full h-full">
      <mat-drawer #drawer mode="side" position="end" [opened]="drawerOpened">
        <app-profile *ngIf="drawerComponent === 'profile'" [drawer]="drawer"></app-profile>
        <app-new-chat *ngIf="drawerComponent === 'new-chat'" [drawer]="drawer"></app-new-chat>
      </mat-drawer>
  
      <mat-drawer-content>
        <div class="flex flex-col h-full w-full lg:w-96 border-r border-gray-200 dark:border-gray-700">
          <!-- Header -->
          <div class="p-4 border-b border-gray-200 dark:border-gray-700">
            <div class="flex items-center">
              <button mat-icon-button (click)="openDrawer('profile')">
                <mat-icon>account_circle</mat-icon>
              </button>
              <span class="ml-2 text-xl font-semibold">Chats</span>
              <button mat-icon-button class="ml-auto" (click)="openDrawer('new-chat')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <mat-form-field class="w-full mt-2">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Search chats" (input)="filterChats($event.target.value)">
            </mat-form-field>
          </div>
  
          <!-- Chat list -->
          <div class="flex-1 overflow-y-auto">
            <mat-nav-list>
              <a mat-list-item 
   *ngFor="let chat of filteredChats" 
   [routerLink]="[chat.id]"
   [activated]="selectedChat?.id === chat.id">
  <mat-icon mat-list-icon>account_circle</mat-icon>
  <div mat-line>{{chat.contact.name}}</div>
  <div mat-line class="text-gray-500 text-sm">{{chat.lastMessage}}</div>
  <div mat-line class="text-xs text-gray-400">{{chat.lastMessageAt | date:'shortTime'}}</div>
  <span matBadge="{{chat.unreadCount}}" 
        matBadgeOverlap="false" 
        *ngIf="chat.unreadCount > 0">
  </span>
</a>
            </mat-nav-list>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  
    <!-- Conversation area -->
    <div class="flex-1 hidden lg:flex">
      <router-outlet></router-outlet>
    </div>
  </div>