/* components/chats/chats.component.scss */
:host {
    display: flex;
    flex: 1;
    height: 100%;
  }
  
  .mat-drawer-container {
    flex: 1;
  }
  
  .mat-drawer {
    width: 320px;
  }
  
  .mat-nav-list {
    padding: 0;
  }
  
  .mat-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }