<!-- custom-sidenav.component.html -->
<div class="side-nav" [class.dark-mode]="darkModeService.darkMode()">
  <mat-nav-list>
    <a
      mat-list-item
      class="menu-item flex items-center justify-center border-l-4"
      *ngFor="let item of menuItems()"
      [routerLink]="item.route"
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [style.padding]="itemPadding()"
      [ngClass]="{
        'border-transparent': !rla.isActive,
        'border-black bg-gray-100': rla.isActive && !darkModeService.darkMode(),
        'border-white bg-gray-800': rla.isActive && darkModeService.darkMode(),
        'collapsed': sideNavCollapsed() && !responsiveService.isMobile()
      }"
      [class.dark-mode-item]="darkModeService.darkMode()"
    >
      <mat-icon 
        [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" 
        matListItemIcon
        [class.dark-icon]="darkModeService.darkMode()"
        [style.font-size]="iconSize()"
        [style.width]="iconSize()"
        [style.height]="iconSize()"
      >
        {{ item.icon }}
      </mat-icon>
      <span *ngIf="shouldShowLabel()" class="ml-3 label-text whitespace-nowrap">{{ item.label }}</span>
    </a>
  </mat-nav-list>
</div>