.menu-item {
    border-left-width: 4px;
  }
  .selected-menu-item {
    border-left-color: black;
    background: rgba(0, 0, 0, 0.05);
  }

  .mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

