<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container" [class.dark-mode]="darkModeService.darkMode()">
  <!-- Row 1: Full Name & Email -->
  <div class="form-row">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="fullName"/>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="submitted && f.fullName.errors?.required">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email"/>
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="submitted && f.email.errors?.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="submitted && f.email.errors?.email">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Row 2: Phone & DOB -->
  <div class="form-row">
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber"/>
      <mat-icon matSuffix>phone</mat-icon>
      <mat-error *ngIf="submitted && f.phoneNumber.errors?.required">
        Phone Number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="submitted && f.dob.errors?.required">
        Date of Birth is required
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Address -->
  <mat-form-field class="full-width-field">
    <mat-label>Address</mat-label>
    <textarea matInput formControlName="address" rows="2"></textarea>
    <mat-icon matSuffix>home</mat-icon>
    <mat-error *ngIf="submitted && f.address.errors?.required">
      Address is required
    </mat-error>
  </mat-form-field>

  <!-- Country -->
  <mat-form-field floatLabel="always" class="full-width-field">
    <mat-label>Country</mat-label>
    <mat-select formControlName="country">
      <mat-option value="">-- Select Country --</mat-option>
      <mat-option *ngFor="let c of countries" [value]="c">{{ c }}</mat-option>
    </mat-select>
    <mat-icon matSuffix>public</mat-icon>
    <mat-error *ngIf="submitted && f.country.errors?.required">
      Please select a country
    </mat-error>
  </mat-form-field>

  <!-- Submit Button -->
  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit" class="submit-button">
      Submit
    </button>
  </div>
</form>

<!-- Success Message -->
<div *ngIf="submitted && success" class="success-message">
  <mat-icon class="success-icon">check_circle</mat-icon>
  <span>Your information has been submitted successfully!</span>
</div>